body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-parent {
  display: flex;
  align-items:center;
  height: 60px;
}

.nav-menu {
  margin-left: 16.7%;
}

.brand-title {
  position: absolute;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.albums-display {
  margin-left: 16.7%;
  margin-right: 16.7%;
}

.albums-container {
  width: 100%;
  height: 72vh;
  overflow: scroll;
}

.album-content-container {
  width: 100%;
  height: 32vw;
  /*background-color: grey;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.album-image-container{
  height: 26vw;
  position: relative;
  /*background-color: beige;*/
}

.album-title, .album-live-comment-container {
  position: absolute;
  color: black;
  background: rgba(255, 255, 255, 0.8);
}

.album-image {
  display:block;
  margin:auto;
  max-width: 100%;
  max-height: 100%;
}

.album-live-comment-container {
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 96%;
  max-height: 100px;
  overflow: scroll;
}

.album-live-comment-form-container {
  bottom: 0;
  overflow: scroll;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    margin-left: auto;
  }
  .albums-display {
    margin-left: auto;
    margin-right: auto;
  }
  .album-content-container {
    height: 380px;
  }
  .album-image-container{
    height: 260px;
  }
}
