body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}

.auth-signup {
  margin-top: 32%;
}

.auth {
  margin-top: 38%;
}

.intro-image {
  margin-top: 30%;
  min-width: 100%;
}

.nav-parent {
  display: flex;
  align-items:center;
  height: 60px;
}

.nav-menu {
  margin-left: 16.7%;
  font-size: 120%;
}

.brand-title {
  position: absolute;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 200%;
}

.brand-logo {
  max-width: 4%;
}

.album-tab {
  margin-left: -25%;
  margin-right: -25%;
  width: 150%;
  height: 72vh;
  overflow: scroll;
}

.actual-album-container {
  margin-left: 16.7%;
  margin-right: 16.7%;
  width: 66%;
}

.albums-display {
  margin-left: 16.7%;
  margin-right: 16.7%;
}

.albums-container, .picture-content-container {
  width: 100%;
  height: 72vh;
  overflow: scroll;
}

.album-content-container {
  width: 100%;
  height: 32vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
}

.album-image-container{
  height: 26vw;
  position: relative;
  overflow: hidden;
  margin: 10 auto;
}

.album-request, .album-title, .album-live-comment-container {
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.album-title {
  top: -20px;
}

.album-request {
  right: 0;
}

.album-image {
  display:block;
  margin:auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  border-radius:20px;
}

img {
  image-orientation: from-image;
}

.album-live-comment-container, .album-request, .album-title {
  opacity: 0;
  padding: 10px;
}

.album-live-comment-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 200px;
  overflow: scroll;
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
}

.album-live-comment-form-container .message-form-container {
  bottom: 0;
  overflow: scroll;
}

.picture-container {
  max-width: 30%;
  margin: 1% auto;
  margin-left: 1%;
  margin-right: 1%;
}

.picture-image-cover-container {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  z-index: 2;
}

.picture-image-delete-container, .picture-image-owner-container {
  visibility: hidden;
}

.picture-image-owner-container {
  text-align: center;
  vertical-align:middle;
  font-size: 16px;
  font-weight: bold;
  left: 0%;
  right: 0%;
  margin: auto;
  padding-top: 6%;
  padding-bottom: 6%;
}

.picture-cover-text {
  color: white;
}

.album-description {
  display: none;
}

.overall-message-container {
  max-height: 78vh;
  overflow: scroll;
}

.message-container{
  max-height: 64vh;
  overflow: scroll;
}

.presentation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.presentation-image {
	opacity: 0;
	transition: opacity 1s linear;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: auto;
}

.presentation-images-container > .presentation-image:first-child {
	opacity: 1;
}

.presentation-message-container {
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  left: 15%;
  width: 70%;
  max-height: 300px;
  overflow: hidden;
  transition: opacity 1s linear;

  padding: 10px;
  font-size: 20px;
}

.presentation-image-settings-row {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-container {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: scroll;
}

.presentation-image-control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  transform: rotate(90deg);
}

.presentation-image-index {
  font-size: 30px;
}

.presentation-audio-settings-row {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.presentation-audio-font {
  font-size: 24px;
  text-align: left;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}

.settings-images {
  height: 80%;
  overflow: scroll;
}

.add-pending {
  margin: 10px auto;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    margin-left: auto;
    font-size: 12px;
  }
  .brand-title, .brand-logo {
    display: none;
  }
  .albums-display {
    margin-left: auto;
    margin-right: auto;
  }
  .album-content-container {
    height: 380px;
  }
  .album-image-container{
    height: 260px;
  }
  .picture-image-owner-container {
    font-size: 12px;
    font-weight: normal;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  .auth-signup {
    margin-top: 0%;
  }
  .auth {
    margin-top: 0%;
  }
  .intro-image {
    display: none;
  }
}
